#app {
  width: 200px;
  height: 200px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  .outer {
    width: 100px;
    height: 100px;
    background-color: aqua;
  }
}
